@import "lib/style";

.backButton {
    svg {
        font-size: 1.5em;
    }
}

.container {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    z-index: 1;
}

.exit {
    padding: 0 1em;
    color: $grayTextColor;
    svg {
        font-size: 2em;
    }
}

.nextButton {
    z-index: 10;
    position: fixed;
    bottom: 2em;
    right: 1em;
    svg {
        font-size: 1.5em;
    }
    color: white;
    border-radius: 50%;
    background-color: $altBlueColor;
    &:hover{
        background-color: $altBlueColor;
    }
}

.nextButtonDisabled {
    pointer-events: none;
    button {
        background-color: lightgray;
    }
}

.ratingItem {
    svg {
        font-size: 2.5em;
    }
}
