@import 'lib/style';

.container{
    width: 100%;
    box-sizing: border-box;
    background-color: $blackColor;
}

.selected{
    color: $blueColor;
}

.tab{
    color: $whiteColor;
    background-color: $blackColor;
    span{
        margin-top: 5px;
    }
    text-transform: lowercase;
}